/* Begin with a CSS reset default for all browsers */
/* * {
    margin: 0;
    padding: 0;
} */

/* Set my own desired CSS parameters */

body {
    line-height: 1;
    font-size: 100%;
}

h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    padding: .6em 0;
    margin: 0 15px;
}

/* Want flex container (justify-content) with 'space-around'? */
nav {
    display: 
}
ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

a:hover {
    background-color: #005f5f;
}

a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
}